@import 'mixins';

/* MAIN */

p {
    text-align: left;
}

main {
    margin-top: 8rem;
    padding-bottom: 1.5rem;
    overflow-x: hidden;
    p {
        font-size: 1.2rem;
        margin: 1rem auto 1rem auto;
        padding: 0 .5rem 0 .5rem;
    }
}

.imagenesPrincipales {
    margin: .5rem;
    padding: 1rem;
    @include flex__row__basic;
    flex-wrap: wrap;
    img {
        margin: 0;
        padding: 0;
        width: 30%;
    }
}

.index__texto {
    margin: 6rem;
}