$fuentes-generales: 'Montserrat',
sans-serif;
$fuente-botones: 'Ubuntu',
sans-serif;
$fuente-color-titulo: rgb(3, 194, 228);
$fuente-color-piePag: rgb(242, 242, 242);
$fondo-color-piePag: rgb(153, 153, 151);
$fondo-colorHover-navBarra: rgb(0, 217, 255);
$fondo-color-navBarra: rgb(153, 153, 151);
$fondo-color-tabla1: rgb(161, 161, 161);
$fondo-color-tabla2: rgb(231, 230, 230);
$fondo-color-input: rgb(219, 219, 219);
$animate-delay: 0.5s;